DB_USER=admin
DB_PASS=
DB_NAME=sistema_estoque
DB_HOST=db
DB_PORT=5432
JWT_SECRET=sua_chave_secreta_aqui

# Configurações usuário padrão ADMIN
ADMIN_LOGIN=admin
ADMIN_PASS=admin123
ADMIN_EMAIL=admin@alphatech.com